<h1>Sign up</h1>
<form action="<%=users_url%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <label for="user_name">Username:</label>
    <input id="user_name" name="user[user_name]" placeholder="Username">

    <label for="password">Password:</label>
    <input type="password" name="user[password]" placeholder="Password">

    <input type="submit" value="Sign up">
</form>

