.clock-title {
    background-color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.clock-div {
    font-family: 'Grenze Gotisch', cursive;
   
    font-size: 50px;
}

.clock-outer-div {
    border: 5px dashed pink;
    background-color:lightblue;
}

.first-p {
    display: flex;
    justify-content: space-evenly;
}
.second-p {
    display: flex;
    justify-content: space-evenly;
}